/* COLORS */

$primary: #611f25;
$secondary: #ba9663;
$black_1: #1b1b1b;
$black_2: #454545;
$grey_1: #6b6b6b;
$grey_2: #9a9a9a;
$success: #2b887f;
$error: #f74d4d;

$separator: #ececec;
$hover_dark: #521d21;
$hover_light: #f5f5f5;
